@use '../custom' as *;


.portfolio{
    background-color: $primary;
    .portfolio-caption{
        font-family: "Roboto" sans-serif;
        padding: 1rem;
        color: $white;
        h2{
            font-weight: bold;
            font-size: 2rem;
        }
        p{
            font-weight: 300;
            margin-top: 1.5rem;
            font-size: 1.5rem;
        }
    }
}  