@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    &--intor{
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.1; // Gap kam karne ke liye line-height reduce k
        
    }
    &--description{
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
    }
}